html {
  /* font-size: 62.5%; */
  font-size: 20px;
  box-sizing: border-box;
}

body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: rgb(243, 187, 187);
  font-family: sans-serif;
}

.container {
  background-color: purple;
}
